<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnString" value="Data Source=192.168.43.13\SQL2008;Password=eee-333;User ID=sa;Initial Catalog=Trip;"/> 
    <!--<add key="ConnString" value="Data Source=.;Password=eee-333;User ID=sa;Initial Catalog=Trip;" />-->
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="TripService" path="TripService.aspx" verb="*" type="Trip.TripWebService" /> 
    </handlers>
  </system.webServer>
</configuration>
